@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Pixelify+Sans:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
  overflow-x: hidden;
  text-decoration: none;
}
a {
  color: white;
}



body a,
body button,
body [type="button"],
body input[type="reset"],
body input[type="submit"],
body [role="button"],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-scrollbar-button,
::-webkit-file-upload-button,
body .sweezy-custom-cursor-hover,
body button.sweezy-custom-cursor-hover,
body a.sweezy-custom-cursor-hover {
  cursor: url(/Pictures/pointer.png) 0 1, auto !important;
}
body {
  cursor: url(/Pictures/cursor.png) 0 1, auto !important;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: #000000;
}

.dancegif{
    margin: 12px;
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 90%;

}

.dancegif img{
    width: 7rem;
}

.heroimg {
  width: 100vw;
  height: 60vh;
  background-image: url(/Pictures/Notesheroimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.herdata {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px; 
  height: 100%;
  width: 80%;
  margin: auto;
}
.page1 .herdata h1 {
  color: #020617;
  font-size: 4.3rem;
  font-weight: 800;
  text-shadow: 2px 1px 0px rgb(255, 217, 81);
}
.herdata p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.756);
}

.page1 {
  width: 100vw;
  min-height: 100vh;
  --color: #e1e1e121;
  background-color: #020617;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 45px 45px;
}

#Pyqp2h {
  text-align: center;
  padding: 1rem 0px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
.semgridcontainer {
  padding: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.sembox {
  background: #020617;
  border: 6px solid #f9f9f9;
  box-shadow: 8px 8px 0 whitesmoke;
  transition: transform 0.3s, box-shadow 0.3s;
}

a h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 0px;
}

.sembox:active {
  background: #2e2e2e;
  box-shadow: 0px 0px 0 rgba(245, 245, 245, 0);
  transition: transform 0.1s, box-shadow 0.1s;
}

@media (max-width: 1020px){
  .herdata p {
    width: 100%;
  }
  .page1 .herdata h1  {
    font-size: 3.2rem;
  }

  .heroimg {
    height: 40vh;
  }

  
.semgridcontainer {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.9rem;
}

.sembox {
  background: #020617;
  border: 3.5px solid #f9f9f9;
  box-shadow: 4px 4px 0 whitesmoke;
  transition: transform 0.3s, box-shadow 0.3s;
}

}